ul > li 
				{ color:red;
				font-size:12px;
				font-family:Arial;
				}
				ol
				{ color:green;
				font-size:12px;
				font-family:Arial;
				}
				p { color:#f00; font-size:10pt;}
				#p1{ color:#00f; }
				
				.txt{ color:#00f;
				      font-size:20pt;
				}
				
				